<body>
  
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <h1> praneeth instution and technology</h1><br/>
          </div> 
      <ul class="nav navbar-nav">
        <li>

<a routerLink="/home" routerLinkActive="active">HOME</a><br/>
</li>
<li>
<a routerLink="/student" routerLinkActive="active" >STUDENT</a><br/>
</li>
  <li>
    <a routerLink="/student-details" routerLinkActive="active" >STUDENT-DETAILS</a><br/>
  </li>
  <li>  
    <a routerLink="/add-student" routerLinkActive="active" >STUDENT REGISTRATION FORM </a><br/>
  </li>
<li>
<a routerLink="/about" routerLinkActive="active">ABOUT-US</a><br/>
</li>
<li>
  <a routerLink="/library" routerLinkActive="active">LIBRARY</a><br/>
  </li>
  <li>
    <a routerLink="/logout" routerLinkActive="active">LOGOUT</a><br/>
    </li>
</ul>
</div>

</nav>
<router-outlet></router-outlet>

<footer class="footer">
  designed by praneeth kumar reddy    || 2020 
</footer>
</body>
