<div class="main-container">

<div class="first-container">
   <img height="200px" width="400px"  src="https://www.osmania.ac.in/images/ou-science.jpg "/> 
<p>The University College of Science has a strong tradition of research in both basic and applied sciences. Even though the college itself was established in 1918, the work carried out </p>
<P>The Osmania University, established in 1918, is the seventh oldest in the country, third oldest in South India and the first to be established in the princely state of Hyderabad.</P>
</div>
<div class="secound-container"><img height="200px" width="400px"  src="https://www.osmania.ac.in/images/ou-law.jpg "/> 
    <p>The University College of Science has a strong tradition of research in both basic and applied sciences. Even though the college itself was established in 1918, the work carried out </p>
    <P>The Osmania University, established in 1918, is the seventh oldest in the country, third oldest in South India and the first to be established in the princely state of Hyderabad.</P>
    </div>
<div class="third-container"><img height="200px" width="400px"  src="https://www.osmania.ac.in/images/ou-science.jpg "/> 
    <p>The University College of Science has a strong tradition of research in both basic and applied sciences. Even though the college itself was established in 1918, the work carried out </p>
    <P>The Osmania University, established in 1918, is the seventh oldest in the country, third oldest in South India and the first to be established in the princely state of Hyderabad.</P>
    </div>




















</div>