
.main-container{
height: 400px;
width: 100%;
float: left;
background-color: thistle;
}
.main-container .form-container
{
    height: 400px;
    width: 50%;
float: left;}
.main-container .result-container
{
    height: 400px;
    width: 50%;
float: left;
}